* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bgimag/assets-cached.jpg);
  background-position: center;
  background-size: cover;
}

/*nav bar*/
.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;

    display: flex;              
    align-items: center;        
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items:center;
    margin-right: auto;
  }
  
.navbar-brand img {
    width: 80px !important;
    height: 65px !important;
    margin-right: 10px;
    padding: 2px;
    background-color: #000;

    display: flex;
    align-items: center;
    margin-top: -5px;
  }

.login-button{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 18px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-top: -5px;
}

.login-button:hover{
    background-color: #F59A39;
    color: #fff;
    font-weight: bold;
}

.navbar-toggler:focus, 
.btn-close:focus{
    box-shadow: none;
    outline: none;
}

ul .nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

ul .nav-link:hover,
ul .nav-link.active{
    color: #000;
}

@media(min-width: 991px){
    ul .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #F59A39;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    ul .nav-link:hover::before,
    ul .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}



/* Styles for the registration form */
#register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: -100px;
  
}
#register-form .card-body {
  border: 5px solid rgba(255, 255, 255, 0.5); /* Add a transparent thicker border with smooth edges */
  padding: 20px; /* Add padding as needed */
  border-radius: 4px; /* Add rounded corners for smooth edges */
}


#register-form .card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

#register-form .form-group label {
  font-weight: bold;
  color: #ffffff;
}

#register-form button[type="submit"] {
  margin-top: 20px;
  background-color: #007bff;
  color: #ffffff4b;
  font-weight: bold;
}

#register-form button[type="submit"]:hover {
  color: #007bff;
  background-color: #fff;
}

#register-form .text {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

#register-form .text a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

#register-form .text a:hover {
  text-decoration: underline;
}

.invalid-feedback {
  color: #f00;
  font-size: 12px;
}

#register-form .form-group {
  margin-bottom: 15px;
  font-size: 25px;
}

